<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">New developer</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="userSubmit()">
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field appearance="fill">
                    <mat-label>"Startup"</mat-label>
                    <select
                      matNativeControl="matNativeControl"
                      formControlName="id_startup"
                      required="required"
                    >
                      <option value="10001">Tech4Toy</option>
                      <option value="10002">Smart123</option>
                      <option value="10003">knowledgeUp</option>
                      <option value="10004">BSI Next Level</option>
                      <option value="10005">QualiHealth</option>
                      <option value="10006">ProEdu</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="fill">
                    <mat-label>"Programming Language"</mat-label>
                    <select
                      matNativeControl="matNativeControl"
                      formControlName="id_linguagem"
                      required="required"
                    >
                      <option value="30001">Python</option>
                      <option value="30002">PHP</option>
                      <option value="30003">Java</option>
                      <option value="30004">C</option>
                      <option value="30005">JavaScript</option>
                      <option value="30006">Dart</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Genre</mat-label>
                    <select
                      matNativeControl="matNativeControl"
                      formControlName="genero"
                      required="required"
                    >
                      <option value="m">M</option>
                      <option value="f">F</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput="matInput" formControlName="nome_programador" placeholder="Name" type="text"
                  /></mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput="matInput"
                      placeholder="Email address"
                      type="email"
                      formControlName="email"
                  /></mat-form-field>
                </div>
                  <div class="col-sm-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput formControlName="data_nascimento" placeholder="Data de nascimento" [(ngModel)]="programador.data_nascimento" name="data_nascimento" type="date"/>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                    </mat-form-field>
                  </div>
               </div>
              <button
                mat-raised-button="mat-raised-button"
                type="submit"
                class="btn btn-info pull-right"
              >
                Add
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
